# MessageSyncJsonSuperpower
public-f lucraft.mods.lucraftcore.superpowers.network.MessageSyncJsonSuperpower superpower
public-f lucraft.mods.lucraftcore.superpowers.network.MessageSyncJsonSuperpower json

# MessageSyncJsonSuitSet
public-f lucraft.mods.lucraftcore.superpowers.network.MessageSyncJsonSuitSet suitset
public-f lucraft.mods.lucraftcore.superpowers.network.MessageSyncJsonSuitSet json